# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# Local Chroma DB (recreated on ingest)
chroma_db/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and env
*.log
.env
